.container {
  composes: container from '../../components/View/View.module.css';
  margin-top: 40px;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  color: var(--color-orange);
  background-size: calc(86rem / 16) calc(118rem / 16);
  background-repeat: no-repeat;
  background-position: center 3.25rem;
  padding-bottom: calc(156rem / 16);
}

.important {
  font-family: 'Mont AS', sans-serif;
  font-weight: bold;
  font-size: 16px;

  margin: 0;
  white-space: pre-line;
}

.info {
  font-size: 16px;
  margin: 16px 0 0;
  font-family: 'Bitter', monospace;
}

.confirm {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin-top: 40px;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 40px;
}
