.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin: 40px 0 16px;
}

.subline {
  margin-top: 0.375rem;
  margin-bottom: 0;
  white-space: pre-line;
  line-height: 1.25rem;
  font-size: 16px;
  font-family: 'Bitter', monospace;
}

.detailsContainer {
  width: 100%;
  margin: 1rem 0;
}

.detailsContainer::-webkit-scrollbar {
  display: none;
}

.details {
  composes: details from '../../components/Card/Card.module.css';
  gap: 15px 0;
}

.detail {
  composes: detail from '../../components/Card/Card.module.css';
}

.detailName {
  composes: detailName from '../../components/Card/Card.module.css';
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detailValue {
  composes: detailValue from '../../components/Card/Card.module.css';
  font-size: 16px;
}

.name {
  composes: fullWidthDetail from '../../components/Card/Card.module.css';
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin: 40px 0 0 0;
  justify-content: start;
  gap: 24px;
}

.cancel {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}
