.resetLine {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.reset {
  composes: smallText from '../Typography/Typography.module.css';
  color: var(--color-lightest);
}

.passwordLabel {
  composes: smallText from '../Typography/Typography.module.css';
  margin: 0.75rem 0;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.passwordLine {
  align-self: stretch;
  position: relative;
  margin: 0;
}

.password {
  background: #F2F2F2;
  border-radius: 2px;
  font-size: 16px;
  padding: 17px 0 17px 17px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Bitter', monospace;
}

.errorTooltip {
  composes: tooltip from '../ErrorTooltip/ErrorTooltip.module.css';
}

.rememberLabel {
  composes: smallText from '../Typography/Typography.module.css';
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 0.5rem 0.75rem 0;
  cursor: pointer;
}

.remember {
  composes: toggle from '../Toggle/Toggle.module.css';
}
