.container {
  margin-top: 40px;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin-bottom: calc(31rem / 16);
}

.inputHeading {
  font-family: Mont AS, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 16px;

}

.buttonsLine {
  margin-top: 40px;
  display: flex;
  justify-content: left;
  gap: 24px
}

.details {
  margin-top: 1.5rem;
  width: 100%;
}

.label {
  font-family: "Mont AS", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;


  text-align: left;
}

.origin {
  composes: inputText from '../../components/Typography/Typography.module.css';
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
}

.reject {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
  left: 75%;
}

.input {
  background: #F2F2F2;
  border-radius: 2px;
  font-size: 16px;
  padding: 17px 0 17px 17px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Bitter', monospace;
}
